{% load static %}

<nav class="">
  <div class="container">
    <div class="row d-flex flex-row justify-content-between">
      <div class="col d-flex flex-row gap-2 logo-side">
        <div class="logo"></div>
        <div class="timing-con fw-bold">8:00AM-10:00PM DAILY</div>
      </div>
      <div class="r-side justify-content-end  d-flex flex-row gap-3 col">
        <a
          data-action="phone"
          href="tel:(669) 679-0026"
          class="btn-1"
          tabindex="-1"
          bis_skin_checked="1"
          >(669) 679-0026</a
        >
        <a
          data-action="phone"
          href="#"
          class="btn-1"
          tabindex="-1"
          bis_skin_checked="1"
          >Book Now</a
        >

      </div>
    </div>
  </div>
</nav>
